.App {
  text-align: center;
  min-height: 100vh;
  width: 1020px;
  /* border: 1px solid; */
  margin: 0 auto;
  box-shadow: 10px 5px 15px #e1e1e1;
  border-right: 20px solid #48474c;
  border-left: 20px solid #48474c;
}

.App--content {
  display: flex;
  height: 100%;
}

.App--content-left {
  width: 35%;
  margin: 20px 0;
  border-right: 2px solid #e1e1e1;
  padding: 0 20px;
}
